<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="menu-item">
        <a href="/">Home</a>
      </div>
      <div class="menu-item">
        <a href="product">Product</a>
      </div>
      <div class="menu-item">
        <a href="about">About Us</a>
      </div>
      <div class="menu-item">
      <a href="carcer">  carcer</a>
      </div>
    </nav>
<div class="body-container">
  <div id="left-body-item" class="body-item">
    <div class="left-menu-item">
      <a href="#">
        Facebook
      </a>
    </div>
    <div class="left-menu-item">
      <a href="#">
        Goolge+
      </a>
    </div>
      <div class="left-menu-item">
        <a href="#">
          Youtube
        </a>
      </div>
        <div class="left-menu-item">
          <a href="#">
            Github
          </a>
        </div>
          <div class="left-menu-item">
            <a href="#">
               Other...
            </a>
          </div>
</div>
  <div id="center-body-item" class="body-item">
{{{body}}}
  </div>
  <div id="right=body-item" class="body-item">
<div class="ads-container">
<!--ads1-->
  <div class="ads-item">
    <img src="/images/dog.png" alt="">
    <div class="ads-item-text">
      <h2>Title</h2>
      <p>My Ads body More.....</p>
    </div>
  </div>
<!--ads2-->
  <div class="ads-item">
    <img src="/images/2.png" alt="">
    <div class="ads-item-text">
      <h2>Title</h2>
      <p>My Ads body More.....</p>
    </div>

  </div>

</div>
    </div>

</div>

  </body>
</html>
